* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(2, 2, 2);
}

header h1 {
    background-color: rgb(147, 223, 147);
    font-size: 25px;
    width: 800px;
    height: 70px;
    padding: 9px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0.2px 25px 0.2px rgb(137, 185, 0.92);
}

main {
    margin: 5% auto;
    width: 550px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    background-color: rgb(255, 255, 255);
}

.container {
    background: rgb(151, 189, 189);
    width: 180px;
    height: 180px;
}

.element1 {
    background-color: rgb(100, 190, 15);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.element2 {
    background-color: rgb(100, 190, 15);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.element3 {
    background-color: rgb(100, 190, 15);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.element4 {
    background-color: rgb(100, 190, 15);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.element5 {
    background-color: rgb(100, 190, 15);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.element6 {
    background-color: rgb(100, 190, 15);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.element7 {
    background-color: rgb(100, 190, 15);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.element8 {
    background-color: rgb(100, 190, 15);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

.element9 {
    background-color: rgb(100, 190, 15);
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}